# pydantic>=1.8.2,<2.0
typing_extensions>=4.7.1
flake8>=3.9.1
pytest==7.0.1; python_version < "3.8"
pytest-cov==3.0.0; python_version < "3.8"
pytest==8.0.2; python_version >= "3.8"
pytest-cov==4.1.0; python_version >= "3.8"
